__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.deb
*.buildinfo
*.changes
*.dsc
*.tar.xz
*.tar.gz
.debhelper/
debian/.debhelper/
debian/puls-kernel-mgr/
debian/puls-kernel-mgr.substvars
debian/puls-kernel-mgr.postinst.debhelper
debian/puls-kernel-mgr.prerm.debhelper
debian/files
debian/*.log
obj-*-linux-gnu/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.smodel
.hypothesis/
.pytest_cache/
cover/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.swp
*.swo
*~
.pydistutils.cfg
debian/debhelper-build-stamp
