[Desktop Entry]
Name=PULS Kernel/GRUB Manager
Comment=Professional Bootloader and Kernel Utility
Exec=puls-kernel-mgr-gtk
Icon=puls-k_icon
Terminal=false
Type=Application
Categories=System;Settings;
